<div class="device {{device.status}}">
    <div>
        <p class="device-small-name">{{device.name}}</p>
    </div>
    <div>
        <div class="device-alarm-summary">
            <p>{{device.guardsCount}}</p>
            <p>/</p>
            <p>{{device.alarmsCount}}</p>
        </div>
    </div>
</div>
