{{#link-to "detail.device" device.name}}
<div class="device-small {{device.status}}" >
    <div>
        <p class="device-small-name">{{device.name}}</p>
    </div>
    <div>
        <div class="device-alarm-summary">
            <p>{{device.guardCount}}</p>
            <p>/</p>
            <p>{{device.alarmCount}}</p>
        </div>
    </div>
</div>
{{/link-to}}
