.device {
    background-color: #f0f0f0;
    display: inline-block;
    width: 200px;
    height: 70px;
    margin: 5px;
    padding: 5px;
}

.device-small-name {
    text-align: center;
}

.device-alarm-summary {
    float: right;
}

.device-error {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color: #f0f0f0;}
    to {background-color: #ff6347;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: #f0f0f0;}
    to {background-color: #ff6347;}
}
