.ember-view {
    display: inline;
}

.device-small, .broker-small {
    background-color: #f0f0f0;
    width: 200px;
    height: 70px;
    margin: 5px;
    padding: 5px;
}

.device-small-name, .broker-small-name {
    font-weight: bold;
    text-align: center;
}

.device-alarm-summary {
    display: inline-flex;
    float: right;
}

.topic-heading {
    font-family: monospace;
    font-weight: bold;
}

.topic-detail, .presence-detail, .broker-detail {
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}

.device-info {
    background-color: #E0E0E0;
    padding: 5px;
    margin: 5px;
}

.no-data {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 5px;
}

.no-data p {
    font-weight: bold;
    text-align: center;
}

.matrix-view {
    display: inline-flex;
}

.view-small, .view-row {
    cursor: pointer;
}

.device-error, .topic-error, .presence-error {
    -webkit-animation-name: warn-error; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation-name: warn-error;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes warn-error {
    from {background-color: #f0f0f0;}
    to {background-color: #FF9A9A;}
}

/* Standard syntax */
@keyframes warn-error {
    from {background-color: #f0f0f0;}
    to {background-color: #FF9A9A;}
}
