<div>
    <h2>{{model.name}}</h2>
    <div>
        <h3>Presence</h3>
        {{presence-detail deviceName=model.name}}
    </div>
    <div>
        <h3>Data</h3>
        {{#each model.guards as |guard|}}
            {{topic-detail topicDetail=(action 'topicDetail') deviceName=model.name}}
        {{/each}}
    </div>
    <div>
        <h3>Info</h3>
        {{device-info device=model}}
    </div>
</div>
