<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "general" class="navbar-brand"}}mqview{{/link-to}}
        </div>
    </div>
</nav>
<div class="container" role="main">
    <div class="row">
        <div class="col-md-3">
            <h3>Device tree</h3>
            <div id=device-tree>
                {{ember-jstree data=treeData}}
            </div>
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>

