<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to "general" class="navbar-brand"}}mqview{{/link-to}}
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'general'}}Diagnostic{{/link-to}}</li>
                <li>{{#link-to 'statistics'}}Statistic{{/link-to}}</li>
                <li>{{#link-to 'about'}}About{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" role="main">
    <div class="row">
        <div class="col-md-3">
            <h3>Navigation</h3>
            <div id=device-tree>
                {{ember-jstree
                    eventDidSelectNode = 'treeSelectNode'
                    skipLoading = true
                    themes = treeTheme
                    data = treeData}}
            </div>

            {{navigation-tree}}
        </div>
        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>
</div>

